<h1>Homepage</h1>
<% if user_signed_in? %>
<p>Welcome <%= current_user.username %></p>
<% end %>


<h1><%= link_to "All Topics", :controller => 'topic', :action => 'index' %></h1>
<ul>
<% @topics.each do |t| %>
	<li><%= link_to t.title, :controller => 'topic', :action => 'show', :id => t.id %></li>
<% end %>
</ul>



<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>