<h1><%= @post.title %></h1>
<p><%= @post.description %></p>

<% if @replies.size > 0 %>
<h1>Replies</h1>
<div>
	<% @replies.each do |r| %>
		<p style="weight: bold"><%= r.title %></p>
		<p><%= r.description %></p>
		<p>By <%= r.user.username %></p>
	<% end %>
</div>
<% end %>

<% if can? :create, Reply %>
<h1>Leave your message here</h1>
<%= form_for :reply do |f| %>
	<div style="padding-bottom: 10px;">
	  <p><%= f.label :title %></p>
	  <%= f.text_field :title %>
	</div>

	<div style="padding-bottom: 10px;">
	  <p><%= f.label :description %></p>
	  <%= f.text_area :description, size: "30x4" %>
	</div>


	  <p><%= f.submit "Create" %></p>

<% end %>
<% end %>